@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    /*border: dashed;
    border-width: 1px;*/
    margin: 0;
    padding: 0;
}

p {
    line-height: 20.58px;
    margin-bottom: 0;
}

:root {
    --primary-white: #fffefe;
    --primary-black-glass: #161916d6;
    --primary-black-glass2: #050505da;
    --primary-white-glass: #fffefe80;
    --primary-white-glass2: #fffefeef;
    --primary-black: #1e1e1e;
    --primary-dark: #102A1D;
    --primary-dark2: #000A01;
    --primary: #3E6A35;
    --primary2: #C0EC7B;
    --primary3: #05d31f;
    --primary-brown: #A89468;
    --primary-brown2: #BFB08F;
    --primary-brown3: #D4CAB5;
    --primary-brown3: #E9E5DB;

    --primary-orange: #E8844C;

    --section-padding: 64px;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    padding: 0 4%;
    color: var(--primary-black);
    /*background: var(--primary);*/
    width: 100%;
    box-sizing: border-box;
    transition: 0.7s;
    z-index: 200;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.18);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header.sticky {
    background: var(--primary);
    backdrop-filter: blur(0.8px);
    transition: 0.7s;
    height: 60px;
}

header .logo {
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    padding-top: 5px;
    cursor: pointer;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    margin-top: 0px;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
    position: relative;
}

header nav ul li.sub-menu:before

/*this is the triangle for dropdown menu*/
    {
    content: '\f0d7 ';
    font-family: fontAwesome;
    position: absolute;
    line-height: 60px;
    color: var(--primary-white);
    right: 5px;
}

header nav ul li.active.sub-menu:before {
    content: '\f0d8';
}

header nav ul li ul {
    position: absolute;
    left: 0;
    background: rgb(34, 34, 34);
    display: none;
}

header nav ul li.active ul {
    display: block;
}

header nav ul li ul li {
    display: block;
    width: 240px;
}

header nav ul li a {
    padding: 0 20px;
    color: var(--primary-white);
    text-decoration: none;
    display: block;
    font-weight: 700;
}

header nav ul li a:hover {
    color: var(--primary2);
    transition: 0.8s;
}

header nav ul li a.active {
    color: var(--primary2);
    transition: 0.8s;
    border-bottom: px solid rgba(191, 0, 0, 0.741) !important;
}

.active:after {
    content: "";
    position: absolute;
    left: 0;
    top: 24px;
    height: 4px;
    width: 100%;
    background-color: var(--primary2);
}

.menu-toggle {
    color: var(--primary-black);
    float: right;
    font-size: 24px;
    cursor: pointer;
    display: none;
    height: 60px;
    line-height: 0;
    padding: 0 !important;
}

@media (max-width: 990px) {
    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
        background-color: #ffffff00 !important;
        color: var(--primary-white) !important;
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: var(--primary-black);
        top: 60px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0%;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    header nav ul li.active ul {
        position: relative;
        background: #1b1b1b;
    }

    header nav ul li ul li {
        width: 100%;
    }
}

#banner {
    height: 100vh;
    width: 100%;
    background-color: #000A01;
    background-image: url(./images/field91.webp);
    background-position: center;
    background-size: cover;
}

.main-container {
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;

}

@media (max-width: 991px) {
    .main-container {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media (max-width: 575px) {
    .heading-c2 {
        margin: auto;
    }

}

.banner-coontainer {
    height: 100%;
    background-color: #000a0184;
    display: grid;
    align-self: center;
}

#banner2 {
    padding: 44px;
    display: grid;
    align-self: center;
    text-align: center;
    background-color: var(--primary-dark);
    color: var(--primary-white);
}

.banner-space {
    height: 80px;
}

.heading {
    font-weight: bold;
}

.heading:after {}

.cl-white {
    color: var(--primary-white);
}

.headin-line {
    width: 100px;
    height: 4px;
    background-color: var(--primary2);
}

.heading {
    margin-bottom: 0;
}

.heading-c {
    margin-bottom: 16px;
    width: fit-content;
}

#services {
    align-items: center;
    width: 100%;
    background-color: var(--primary-black);
    display: flex;
    flex-direction: column;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.service {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    /*text-align: center;*/
    color: var(--primary-white);
    /*background-color: var(--primary);*/
    background: linear-gradient(180deg, #3F7434, #3E6A35);
    padding: 26px;
    border-radius: 8px;
    height: 100%;
}

.service-icon {
    font-size: 64px;
    color: var(--primary2);
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
}

.sercice-heading {
    color: var(--primary2);
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase;
}

#mission {
    /*background: linear-gradient(180deg, #3F7434, #3E6A35);*/
    background-color: var(--primary-black);
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
    color: var(--primary-white);
}

.m-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.left {
    width: 50%;
    height: 500px;
    background: url(./images/mission.jpg) no-repeat center / cover;
    border-radius: 8px;
}

.right {
    width: 50%;
    min-height: 350px;
    background-color: #303137;
    background: linear-gradient(180deg, #3F7434, #3E6A35);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: white;
    margin-left: -150px;
}

.right h1 {
    font-size: 40px;
    font-weight: lighter;
}

.right p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}

.right a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
    .m-container {
        flex-direction: column;
        width: 100%;
        margin: 0 20px;
    }

    .left {
        width: 100%;
        height: 400px;
    }

    .right {
        width: 90%;
        margin: 0;
        margin-top: -100px;
    }
}

#products {
    background-color: var(--primary-black);
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);

}

.product{
    width: 100%;
    color: var(--primary-white);
    text-align: center;
    height: 100%;
}

.product-image{
    height: 300px;
    width: 100%;
    background-color: var(--primary-white);
    margin-bottom: 16px;
    display: grid;
    align-items: center;
    overflow: hidden;
    border-radius: 4px;

}

.product-image img{
    width: 100%;
    border-radius: 4px;
}

.product p{
    margin-bottom: 0;
}

#contacts-banner{
    height: 80vh;
    background-image: url(./images/Field\ 1.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contacts-banner-inner{
    height: 100%;
    width: 100%;
    background-color: #000a0184;
}

footer {
    width: 100%;
    background-color: #091811;
    padding-top: var(--section-padding);
    color: var(--primary-white);
}

.footer-large-heading {
    font-weight: 900;
    color: #fffefe3e;
}

.footer-icon {
    color: var(--primary-white);
    font-size: 24px;
    margin-left: 8px;
    margin-right: 8px;
}

.footer-items {
    font-weight: 500;
    color: var(--primary-white);
}

.footer-second {
    margin-top: var(--section-padding);
    width: 100%;
    border-top: 4px solid var(--primary2) !important;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--primary-black);
}